<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kachidoki.oxgenmusic">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RankActivity"
            android:label="@string/app_name"/>
        <activity android:name=".activity.PlayActivity"/>
        <activity android:name=".activity.MyPlaylistActivity"/>
        <service android:name=".player.PlayerService"/>
        <meta-data android:name="AA_DB_NAME" android:value="MyMusic.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data android:name="AA_MODELS" android:value="com.kachidoki.oxgenmusic.model.bean.SongBean, com.kachidoki.oxgenmusic.model.bean.SongQueue" />
    </application>

</manifest>